body{
  background-color: #4B5FD6;
  color: #eaeaea;
}

button{
  color: black;
}

.handDisplay{
  margin-top: 20px;
  margin-bottom: 20px;
}

.gameTile{
  border-radius: 2px;
  height: 25px;
  width: 45px;
  background-color: #FFAA11;
  cursor: pointer;
  margin: 1px;
  color: #eaeaea;
  font-weight: bold;
  font-size: 120%;

}

.boardTile{
  border-radius: 2px;
  height: 25px;
  width: 45px;
  background-color: #eaeaea;
  margin: 1px;
  color: black;
  font-weight: bold;
  font-size: 120%;
}

.drop-hover{
  border: 2px solid black;
}

.gameBoard{
  display: none;
  margin-top: 50px;
}

.hard-wrapper{
  width: 1205px;
}
