body{
  background-color: #4B5FD6;
  color: #eaeaea;
}

button{
  color: black;
}

.handDisplay{
  margin-top: 20px;
  margin-bottom: 20px;
}

.gameTile{
  border: 2px solid black;
  border-radius: 2px;
  height: 45px;
  width: 45px;
  background-color: #eaeaea;
  cursor: pointer;
  margin: 1px;
  color: black;
  font-weight: bold;
  padding-top: 10px;
  font-size: 150%;
}

.testTile{
  border: 2px solid black;
  border-radius: 2px;
  height: 50px;
  width: 50px;
  background-color: #eaeaea;
  cursor: pointer;
  margin: 2px;
  color: black;
  font-weight: bold;
  padding-top: 10px;
  font-size: 150%;
}

.drop-hover{
  border: 2px solid green;
}

.gameBoard{
  display: none;
  margin-top: 50px;
}

.hard-wrapper{
  width: 540px;
}
