body{
  color: white;
  background: rgba(255,214,51,1);
  background: -moz-linear-gradient(top, rgba(255,214,51,1) 0%, rgba(255,112,76,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,214,51,1)), color-stop(100%, rgba(255,112,76,1)));
  background: -webkit-linear-gradient(top, rgba(255,214,51,1) 0%, rgba(255,112,76,1) 100%);
  background: -o-linear-gradient(top, rgba(255,214,51,1) 0%, rgba(255,112,76,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,214,51,1) 0%, rgba(255,112,76,1) 100%);
  background: linear-gradient(to bottom, rgba(255,214,51,1) 0%, rgba(255,112,76,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd633', endColorstr='#ff704c', GradientType=0 );
}

button{
  color: black;
  padding-left: none;
}
h3{
  margin-top: 0px;
}
.intro-title{
  text-align: center;
}
.intro-info{
  margin-left: 100px;
  font-size: 16pt;
}
.info-box{
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.handDisplay{
  margin-top: 20px;
  margin-bottom: 20px;
}
#title {
  text-align: center;
  font-family: 'Ceviche One', cursive;
  font-size: 800%;
  color: white;
  border-bottom: solid 2px white;
  padding-bottom: 20px;
  text-shadow: -2px 2px #ff9900;
}
.gameTile{
  text-align: center;
  padding-top: 3.5px;
  border-radius: 2px;
  height: 35px;
  width: 45px;
  cursor: pointer;
  margin: 1px;
  color: #eaeaea;
  font-weight: bold;
  font-size: 140%;
  z-index: 4;
  text-shadow: #454545 1px 1px;
  background: rgba(255,222,56,1);
  background: -moz-linear-gradient(top, rgba(255,222,56,1) 0%, rgba(255,153,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,222,56,1)), color-stop(100%, rgba(255,153,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,222,56,1) 0%, rgba(255,153,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,222,56,1) 0%, rgba(255,153,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,222,56,1) 0%, rgba(255,153,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,222,56,1) 0%, rgba(255,153,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde38', endColorstr='#ff9900', GradientType=0 );
}
.boardTile{
  border-radius: 2px;
  height: 35px;
  width: 45px;
  background-color: white;
  margin: 2px;
  color: black;
  font-weight: bold;
  font-size: 120%;
  -webkit-box-shadow: inset -8px 8px 32px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -8px 8px 32px -12px rgba(0,0,0,0.75);
  box-shadow: inset -8px 8px 32px -12px rgba(0,0,0,0.75);
}
.dump{
  border-radius: 2px;
  height: 105px;
  width: 150px;
  padding-top: 38px;
  background-color: transparent;
  color: #eaeaea;
  font-weight: bold;
  text-align: center;
  font-size: 120%;
  border: 1px solid #eaeaea;
}

#submitButton {
  padding-top: 30px;
}
.btn-warning{
  background: rgba(70,240,252,1);
background: -moz-linear-gradient(top, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,240,252,1)), color-stop(100%, rgba(105,155,240,1)));
background: -webkit-linear-gradient(top, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
background: -o-linear-gradient(top, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
background: -ms-linear-gradient(top, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
background: linear-gradient(to bottom, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46f0fc', endColorstr='#699bf0', GradientType=0 );

}
.btn-info {
  height: 50px;
  width: 100px;
  font-size: 16pt;
  text-align: center;
  margin-left: 30px;
  background: rgba(70,240,252,1);
  background: -moz-linear-gradient(top, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,240,252,1)), color-stop(100%, rgba(105,155,240,1)));
  background: -webkit-linear-gradient(top, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
  background: -o-linear-gradient(top, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
  background: -ms-linear-gradient(top, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
  background: linear-gradient(to bottom, rgba(70,240,252,1) 0%, rgba(105,155,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46f0fc', endColorstr='#699bf0', GradientType=0 );
}
.ui-droppable-hover{
  background-color: maroon;
}
.drop-hover{
  border: 2px solid black;
}
.dumpCity{

}
.row{
  padding-left: 10px;
  margin-left: 100px;
  margin-right: auto;
}
.gameBoard{
  display: none;
  margin-top: 20px;
  width: 100%;
}
.handDisplay{
  display: none;
}
.handrow {
  margin-left: 0px;
}
#end-screen{
  display: none;
}
.scoreboard-display{
  margin-left: auto;
  margin-right: auto;
}
#start{
  display: none;
}
#timer{
  text-align: center;
  text-shadow: -2px 2px #ff9900;
}
#run{
  text-align: center;
}
.hard-wrapper{
  width: 1205px;
}
iframe {
  width: 100%;
  height: 100%;
}
